.ai{

    background-image: url("4.jpg");
    width: 1350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    position: relative;
    padding: 30px;
   
  }

.border {
    height: 300px;
    position: relative;
    border: 4px solid green;
    padding: 20px;
    margin: 90px;
    margin-right: 300px;
    margin-left: 250px;
    margin-top: 120px;
    margin-bottom: 150px;
    width: 700px;
    top:10%;
  }
  .vertical-center {
    margin: 4px 0;
    position: absolute;
    left:55%;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .seatborder{
    background-color: green;
    border: 4px;
    width: 100px;
    height:40px;
    color: #FFFFFF;
  }
  .submit{
    margin: 8px 0;
    position: absolute;
    left:43%;
    top: 80%;
      -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  
 
  .display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #DCDBE1;
    border: solid green 0.5px;
    color: black;
    border-radius: 5px;
    width: 40%;
    height: 10%;
    padding: 8px 8px;
    margin: 20px 10px;
    margin-top: 5%;
  }
  .display-box1 {
    font-family: 'Orbitron', sans-serif;
    background-color: #DCDBE1;
    border: solid green 0.5px;
    color: black;
    border-radius: 5px;
    width: 40%;
    height: 10%;
    padding: 8px 8px;
    margin: 10px 10px;
  }
  .display-box2 {
    font-family: 'Orbitron', sans-serif;
    background-color: #DCDBE1;
    border: solid green 0.5px;
    color: black;
    border-radius: 5px;
    width: 40%;
    height: 10%;
    padding: 8px 8px;
    margin: 20px 10px;
  }
  .myStyle{
    background-color: yellow;
  }
  
  
  
  
  
  
  
  